body {
    background: #29292a;
}

.work {
    width: 70%;
    margin-top: 50px;
}

.work * {
    color: white;
}

.img {
    width: 760px;
    margin: auto;
}

.presentation {
    padding-left: 100%;
    padding-bottom: 100vh;
    background: url("https://raw.githubusercontent.com/hhhhProgramer/Portafolio/main/img/code-1839406_1280.jpg") no-repeat fixed;
    position: absolute;
    background-size: cover;
    opacity: 0.4;
}

.header {
    padding-bottom: 40vh;
}

.information {
    padding-top: 40vh;
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    opacity: 1;
    background: none;
}

.one-row {
    grid-column-start: 1;
    grid-column-end: 3;
}

#code {
    height: 10px;
    min-height: 10px;
    margin-top: 10vh;
    font-size: 30px;
}

#msg {
    font-size: 30px;
    color: wheat;
}

.information * {
    z-index: 2;
    opacity: 1;
}

.desc {
    text-align: left;
    margin-top: -60px;
}

.desc h1 {
    font-size: 110px;
}

.desc h2 {
    font-size: 40px;
    margin-left: 150px;
}

.desc * {
    color: wheat;
}

.nav {
    margin-top: 18%;
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: left;
    background: black;
    border-radius: 20px;
    z-index: 1000;
    padding-bottom: 20px;
}

.nav a {
    display: block;
    padding: 20px 10px;
    margin-bottom: 20px;
    height: 60px;
}

#Proyects {
    display: grid;
    gap: 90px;
}

#experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 30px;
    margin-bottom: 150px;
}

.tarjet {
    padding: 10px 40px;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.tarjet-text {
    padding: 10px 40px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.d-block {
    min-height: 65vh;
    max-height: 65vh;
}

.carousel-control-color {
    color: black;
}

.card p {
    font-size: larger;
}

#Proyects {
    padding-top: 100px;
    padding-bottom: 150px;
}

.jump {
    animation: 1s jump;
}

@keyframes jump {
    0% {
        margin-top: 0px;
    }
    25% {
        margin-top: -10px;
    }
    50% {
        margin-top: 0px;
    }
    75% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0px;
    }
}


/* Tablet*/

@media screen and (max-width: 1100px) {
    .nav {
        margin-top: 35%;
    }
    .header {
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    .desc {
        margin-top: -40px;
    }
    .desc h1 {
        font-size: 70px;
    }
    .desc h2 {
        font-size: 30px;
        margin-left: 80px;
    }
    #msg {
        margin-top: 150px;
    }
    #code {
        font-size: 25px;
    }
    #experience {
        padding-top: 80px;
        grid-template-columns: repeat(2, 1fr);
    }
    .tarjet {
        min-width: 50%;
        padding-bottom: 30px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }
    .d-block {
        min-height: 350px;
        max-height: 350px;
    }
}


/* tablet landscape*/

@media only screen and (orientation: landscape) and (max-width: 1200px) {
    .nav {
        margin-top: 35vh;
    }
    .card p {
        font-size: medium;
    }
    .d-block {
        min-height: 500px;
        max-height: 500px;
    }
}


/* Movil*/

@media screen and (max-width: 750px) {
    .nav {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        border-radius: 0px;
        text-align: center;
    }
    .nav a {
        height: 50px;
    }
    .header {
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    .information {
        position: block;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
        padding-top: 30vh;
        width: 100%;
    }
    .desc {
        margin-top: 20px;
        text-align: center;
    }
    .desc h1 {
        font-size: 60px;
    }
    .desc h2 {
        font-size: 30px;
        margin: auto;
    }
    #msg {
        margin-top: 100px;
    }
    #code {
        margin-top: 20px;
        font-size: small;
    }
    #experience {
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
    }
    .d-block {
        min-height: 250px;
        max-height: 250px;
    }
    .card p {
        font-size: medium;
    }
}


/* Movil*/

@media screen and (max-width: 800px) and (orientation: landscape) {
    .presentation {
        height: 750px;
    }
    .header {
        height: 750px;
    }
}