body {
    background: #29292a;
}

.work {
    width: 70%;
    margin-top: 50px;
}

.work * {
    color: white;
}

.img {
    width: 760px;
    margin: auto;
}

.presentation {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    background: url("https://raw.githubusercontent.com/hhhhProgramer/Portafolio/main/img/code-1839406_1280.jpg") no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.information {
    margin-top: 300px;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    opacity: 1;
    background: none;
}

.one-row {
    grid-column-start: 1;
    grid-column-end: 3;
}

#code {
    margin-top: 100px;
    font-size: 30px;
}

#msg {
    margin-top: 100px;
    font-size: 30px;
    color: wheat;
}

.information * {
    opacity: 1;
}

.desc {
    text-align: left;
    margin-top: -60px;
}

.desc h1 {
    font-size: 110px;
}

.desc h2 {
    font-size: 40px;
    margin-left: 150px;
}

.desc * {
    color: wheat;
}

.header {
    padding-bottom: 1100px;
}

.nav {
    margin-top: 18%;
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: left;
    background: black;
    border-radius: 20px;
    z-index: 1000;
}

.nav a {
    margin-bottom: 10px;
    padding: 10px 10px;
}

#Proyects {
    display: grid;
    gap: 90px;
}

#experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    row-gap: 30px;
    margin-bottom: 150px;
}

.tarjet {
    padding: 10px 40px;
    padding-bottom: 30px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.tarjet-text {
    padding: 10px 40px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}


/* Tablet*/

@media screen and (max-width: 1100px) {
    .nav {
        margin-top: 35%;
    }
    .header {
        padding-bottom: 180%;
    }
    .information {
        margin-top: 300px;
    }
    .desc {
        margin-top: -40px;
    }
    .desc h1 {
        font-size: 70px;
    }
    .desc h2 {
        font-size: 30px;
        margin-left: 80px;
    }
    #msg {
        margin-top: 150px;
    }
    #experience {
        grid-template-columns: repeat(2, 1fr);
    }
    .tarjet {
        min-width: 50%;
        padding-bottom: 30px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
    }
}


/* Movil*/

@media screen and (max-width: 750px) {
    .nav {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        border-radius: 0px;
        text-align: center;
    }
    .presentation {
        position: absolute;
        min-height: 700px;
    }
    .information {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }
    .desc {
        margin-top: 20px;
        text-align: center;
    }
    .desc h1 {
        font-size: 60px;
    }
    .desc h2 {
        font-size: 30px;
        margin: auto;
    }
    #msg {
        margin-top: 100px;
    }
    #code {
        font-size: small;
    }
    .header {
        padding-bottom: 900px;
    }
    #experience {
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
    }
}